@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1f201d; 
    font-family: "Tinos";
    font-style: italic;
    letter-spacing: 0.5px;
}

.box {
    width: 800px;
    border-radius: 16px;
    background-color: #e6e6e6; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #1f201d; 
    padding:16px;
}


#title{
    padding-left: 16px;
    margin-top: -2px;
    margin-bottom: -4px;
    font-weight: 800;
}

#chapter{
    padding-left: 24px;
    margin-bottom: -8px;
    font-weight: 600;
    font-size: 20;
}

#text {
    padding: 0px 32px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 450;
    justify-self: flex-start;
}



#ChangeText {
    all: unset;
    padding: 10px 40px; 
    color: #e6e6e6;
    text-align: center;
    background-color: #c7a07a;
    transition: .3s ease;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer; 
}

#ChangeText:hover {
    opacity: 0.8;
}
